body{
    display: none;
    letter-spacing: 0.4px !important;
    font-size: 16px;
    color: #383838;
	margin: 0px 0px;
}

video{
	max-width: calc(100% - 6px);
	border: 1px solid #F28CB9;
	padding: 2px;
}
#zone-branding-wrapper{
	background-color: #F28CB9;
}

.branding-data{
    display: inline-block;
    float:left;
    padding-left: 10px;
}
.language-link{
    font-size: 0px;
}
#block-locale-language{
    display: inline-block;
    float:right;
}

.logo-img img {
    padding-top: 10px;
    width: 60px;
}
#region-branding{
    margin: 0px;
}
/* main menu */
#block-system-main-menu{
    bottom: 0;
    display: inline-block;
    left: 0;
    margin-bottom: 0;
    margin-top: 4px;
    padding: 4px 0 8px;
    width: 100%;
    z-index: 999;

}
#block-system-main-menu ul.menu {
    text-align: center;
}
#block-system-main-menu .content > ul.menu > li{
    display: inline;
    margin: 0;
}
#block-system-main-menu .content > ul.menu > li.active-trail{
    // background: white none repeat scroll 0 0;

}
#block-system-main-menu li a,
.menu-block-wrapper a{
    text-decoration: none;
    font-size: 15px;
    color: #383838;
}
#block-system-main-menu .menu li a.active-trail{
    font-weight: 300;
    border-bottom: 1px solid;
}
.i18n-mk #block-system-main-menu li a{
    font-size: 12px;
}
#block-system-main-menu li a.active,
.menu-block-wrapper a.active,
#block-system-main-menu li a:hover,
.menu-block-wrapper a:hover{
    color: #383838;
}

.menu-block-wrapper .menu li{
    margin-left: 4px;
    float: left;
}
#breadcrumb{
    display:none;
}
/* mobile main menu start */
#block-system-main-menu li ul{
    display:none;
}
/* mobile main menu end */
/* main menu end */
#zone-postscript-wrapper{
    display: none;
}
/**language*/
#block-locale-language{
    margin-top: -6px;
    position: absolute;
    right: 0;
    top: 0 !important;
}
#block-locale-language .block-inner{
    margin-top: -16px;
}
.responsive-layout-normal #block-block-31,
.responsive-layout-wide #block-block-31{
    float: right;
    margin-top: 2px;
}
.responsive-layout-mobile #block-block-31,
.responsive-layout-narrow #block-block-31{
    display: none;
}
.i18n-mk #block-locale-language{
    margin-top: 0px;
}
#block-locale-language li{
    display: inline-block;
    float:right;
    margin-top: 6px;
    margin-left: 0px;
}

#block-locale-language li a{
    background-repeat: no-repeat;
    font-size:0px;
    text-decoration: none;

}
#block-locale-language li.en a:before{
    background-image: url("../images/en_GB.png");
    background-image: url("../images/uk.png");
    background-repeat: no-repeat;
    color: transparent;
    content: "sdfsssss";
    height: 20px;
    width: 20px;
    font-size:12px;
    background-position: center;
    border: 1px solid transparent;
    background-size: 18px auto !important;
}

#block-locale-language li.mk a:before{
    background-image: url("../images/Macedonia.png");
    background-repeat: no-repeat;
    color: transparent;
    content: "sdfsssss";
    height: 20px;
    width: 20px;
    font-size:12px;
    background-position: center;
    border: 1px solid transparent;
    background-size: 18px auto !important;
}
#block-locale-language li.fr a:before{
    background-image: url("../images/fr_FR.png");
    background-repeat: no-repeat;
    color: transparent;
    content: "tes";
    height: 20px;
    width: 20px;
    font-size:12px;
    background-position: center;
    border: 1px solid transparent;
}
#block-locale-language li.de a:before{
    background-image: url("../images/de_DE.png");
    background-repeat: no-repeat;
    color: transparent;
    content: "tes";
    height: 20px;
    width: 20px;
    font-size:12px;
    background-position: center;
    border: 1px solid transparent;
}
#block-locale-language li.active a:before{

}
/**language end*/


/* slider */
.nivo-prevNav,
.nivo-nextNav{
    top: 35% !important;
}
.
.theme-default .nivoSlider{
    box-shadow: 0 1px 16px 0 gray;
    //max-height: 600px;
}
#zone-menu,
#region-menu{
    width: 100%;
}
#region-menu,
#region-user-second{
    margin: 0px;
}
#region-menu{
    background: #fdf5f9 none repeat scroll 0 0;

}
#region-menu .navigation{
	padding: 6px;
}
#region-menu .navigation a{
 font-size: 12px;
}
.theme-default .nivo-directionNav a{
    background: url("../images/arrowleft.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    opacity: 0;
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    height: 95px;
    width: 60px;
}
.theme-default .nivo-directionNav a.nivo-nextNav{
    background: url("../images/arrowright.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    opacity: 0;
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    height: 95px;
    width: 60px;
}
.theme-default:hover .nivo-directionNav a.nivo-nextNav{
    opacity: 1;
}

.not-logged-in .nivo-controlNav{
    padding-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    //z-index: 999;
    margin-bottom: 0;
    margin-top: -20px;
    margin-bottom: 10px;
}
.theme-default .nivo-controlNav {
    margin-top: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
    left: 0;
    right: 0;
}
#zone-menu{
    max-width: 1200px;
}
.front #zone-header-wrapper section > div{
    margin: 0px 10px;
}
#region-content{
	margin: 0px;
}
#slider{
    background: transparent;
    margin: 30px 0 4px 0px;
}
.theme-default .nivoSlider {
    box-shadow: 0 0px 0px 0 #4a4a4a;
}
/* slider end */

h1, h2, h3, h4, h5, h6,a, body{
    font-family: 'Dosis', sans-serif;
    //font-family: 'Roboto Condensed', sans-serif;
    //font-family: 'Ubuntu Condensed', sans-serif;
    //font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.container-12 .grid-4 {
    width: calc(100% - 12px);
    margin-left: 6px;
    margin-right: 6px;
}
#section-content{
    position: relative;
	margin: 0px 10px;
}
.page-news #section-content{
    margin-top: 10px;
}
.node-type-products #section-content{
   
}


#zone-preface-wrapper .block-title{
    text-transform: uppercase;
    margin-bottom: 2px;
    border-bottom: 1px dotted #383838 ;
}
.block-title{
    font-weight: 300;
}
/*news*/
.front .view-news .views-row{
    margin-bottom: 10px;
    margin-top: 6px;
    //min-height: 80px;
}
.views-field-field-news-image{
    border: 1px solid #5C5C5C;
    display: inline;
    float: left;
    margin-right: 6px;
    width: 100px;
}
.node-type-news	#region-content #page-title{
    margin-top: 0px;
}
.front .view-id-news .views-field-created{
    font-size: 13px;
    margin-bottom: 4px;
}
/*newsend*/
.view-id-products .more-link {
    float: right;
    margin-top: -140px;
    display: none;
}
/*product*/
#block-views-products-block .view-content{
    margin-top: 10px;
}
.front .view-products .views-row{
    display: inline;
    float: left;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-top: 0px;
    width: 49.5%;
    min-height: 108px;
}
.page-products .view-content{
    margin-top: 14px;
}
.page-products #block-views-products-block-4 img{
    width: 100%;
}
.front .views-field-field-product-image{
    display: inline;
    float: left;
    margin-right: 6px;
    width: 20%;
}
.views-field-title a{
    font-size: 16px;
    left: 0;    
    height: 100%;
    width: 100%;
}
.front .zone-content-wrapper{
    display: none;
}

.not-front .view-products .views-row{
    float: left;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 6px;      
    width: 100%;
    width: calc(100% - 14px);
    text-align: left;
}
.node-type-products .view-products .views-row{
    text-align: center;
}
.not-front .view-products .field-item:hover{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(9,158,158,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(9,158,158,1);
    box-shadow: 0px 0px 4px 1px rgba(9,158,158,1);
}

.not-front .view-products .views-row .views-field-title{
    height: 28px;
    margin-top: 4px;
}
.not-front .view-products .views-row .views-field-body{
}
.not-front .view-products .views-row  .views-field-field-product-image{
    width: 45%;
    float:left;
    margin-right:8px;
    padding: 2px;
}
.not-front .view-products .views-row img{
    width: 100%;
}
.node-type-products .field-name-field-p-product-cateogry .field-items .field-item{
    margin-right: 7px;
}
.node-type-products .field-name-field-p-product-cateogry .field-items .field-item::after{
    content: ",";
}
.node-type-products .field-name-field-p-product-cateogry .field-items .field-item:last-child::after{
    content: ".";
}
.node-products .field-name-field-web-site-link {
    margin-bottom: 20px;
}
.node-products .content span{
    float: left;
    line-height: 32px;
    margin-top: 9px;
    position: relative;
    width: 100%;
}

#region-sidebar-second iframe{
    height: 200px;
    width: 300px;
}
.front #block-views-products-block .views-row img{
    -webkit-filter: grayscale(25%);
    filter: grayscale(25%);
    height: auto;
    max-width: 66px;
    width: auto;
    margin-right: 10px;
}
.front .view-products .view-content .views-row .views-field-field-product-logo{
    min-height: 80px;
    min-width: 80px;
}

.front .view-products .view-content .views-row .views-field-body{
    min-height: 100px;
}
.front #block-views-products-block .views-row:hover img{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}
.front .block-views-products-block,
.front section .block-title{
    letter-spacing: 1px;
    margin-bottom: 10px;
}
/*
.node-type-products #zone-menu,
.node-type-products .view-id-products .views-row,
.node-type-products .views-field-field-header-image img{
    height: auto;
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}


.node-type-products .flippy{
    color: white !important;
    display: none;
    float: left;
    font-size: 100px;
    text-align: left;
    top: -368px;
    width: 100%;
}


.node-type-products ul.flippy li.prev {
    margin-left: 284px;
    float: left;
    padding-left: 0;
}
.node-type-products ul.flippy li.next{
    float: right;
    margin-left: 0;
    margin-right: -48px;
    padding-left: 0;
    padding-right: 0;
}*/
.node-type-products .views-field-field-header-image{
    position: relative;
    z-index: -2147483648;
}
/*
.node-type-products .flippy a:link,
.node-type-products .flippy a {
    color: #FFFFFF !important;
}
.node-type-products .flippy a:hover {
    color: #099e9e !important;
}
.node-type-products .zone-menu-wrapper{
    height: 0px !important;
}*/
.node-type-products .views-field-field-header-title{    
    font-size: 16px;
    font-weight: bold;  
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.node-type-products .views-field-field-header-title .field-content{
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
    padding: 4px;
    width: 100%; 
    max-width: 600px;      
}
.node-type-products .views-field-field-header-subtitle{
    font-size: 14px;
    font-weight: 300;   
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.node-type-products .views-field-field-header-subtitle .field-content{
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
    padding: 4px;
    width: 100%; 
    max-width: 600px;    
}
.node-type-products .views-field-field-header-android-link{
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;    
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.node-type-products .views-field-field-header-android-link .field-content a{
    background-image: url("../images/aaa.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    margin: 0 auto;
    font-size: 0;
    height: 64px;    
    width: 162px;
    float: none;
}
.views-field-field-header-title .field-content,
.views-field-field-header-subtitle .field-content,
.views-field-field-header-android-link .field-content{
    max-width: 1200px;
    margin: 0 auto;
}


.node-type-products #region-content{
    margin-top: 0px !important;
}
.node-type-products .field-name-field-gallery{
	height: 150px
}
.node-type-products .field-name-field-project-team .node-title,
.node-type-products .field-name-field-project-team .node-links{
	display: none;
}
.node-type-products .field-name-field-project-team .field-item{
	display: inline;
	float: left;
	margin-left: -20px;
}
.node-type-products .field-name-field-project-team .field-item:first-child{
	margin-left: 0px;
}
.node-type-products .field-name-field-project-team .field-item a img{
	border: 3px solid white;
	border-radius: 50px;
}
.node-type-products .field-name-field-project-team .field-item a img:hover{
	position: relative;
    z-index: 2147483647;
}
/*product end*/

/* about us*/
.node-type-about-us #zone-content-wrapper{
    margin-top: 14px;
}
#block-views-about-us-block{
    margin-bottom: 0px;
    margin: 0 auto;
}
.front .views-field-field-about-us-image{
    margin-bottom: 10px;
    margin-top: 8px;
}
.front .views-field-field-about-us-image img{
    height: auto;
    width: 100%;
}
/* about us end*/
.nivo-directionNav{
    display: none;
}
/*get in touch*/

#block-block-33
{
    //background: #ecf1ef none repeat scroll 0 0;
}
/*get in touch end*/

#block-views-news-block{
    background: #fdf5f9 none repeat scroll 0 0;
}
#region-postscript-second,
#region-postscript-third{
    margin-top: 10px;
}
#zone-postscript-wrapper{
    background: none repeat scroll 0 0 #5C5C5C;
    margin-top: 0;
    padding-bottom: 2px;
    padding-top: 10px;
    color: white;
}
ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
#zone-postscript-wrapper a{
    color: white;
    text-decoration:none;
}
/**/

/* footer */
.region-footer-first-inner{
    text-align: center;
}
#region-footer-second{
    height: 34px;
margin-top: 24px;

}
#region-footer-second a{
	color: white !importannt;
}
#region-footer-second p{
    margin-bottom: 0px;
}
footer#section-footer{
	//background-color: #f8c5dc;
	color: white;
}
#zone-footer{
    width: 100%;
}
#region-footer-first{
    width: 100%;
    margin-left: 0px;
    marging-right: 0px;
    // background: none repeat scroll 0 0 #f2f2f2;
    padding-bottom: 0px;
    padding-top: 3px;
}
#region-footer-first p{
    margin-bottom: 4px;
    color: #5C5C5C
}
#zone-postscript-wrapper,
#zone-postscript-wrapper .menu li{
    text-align: center;
    margin-left: 0px;
}
#block-menu-menu-footer-menu .menu li{
    text-align: center;
}
/* footer end */

/* not front*/
/*.not-front #zone-menu-wrapper{
    display: none;
    height: 34px;
    background-color: #1a1a1a;
    background-image: -moz-linear-gradient(center top , #1a1a1a 0%, #303030 100%);
}*/

.not-front #zone-menu-wrapper .content{
    color: white;
    font-size: 18px;
    padding-top: 1.3px;
}
.not-front #zone-menu-wrapper .content p{
    margin-bottom: 0;
}
.not-front #zone-menu
{
    margin: 0 auto;
    padding-bottom: 0px;.
    padding-top: 0px;

}
/* not front end */

.not-front img{
    height: auto;
    //width: 100%;

}
#field-name-field-about-us-image{
    margin-bottom: 16px;
}
#page{

}
.page-node-179 .zone-content .title{
    display: none !important;
}
.page-node-179 .block-title,
#region-content #page-title{
    border-bottom: 1px dotted #F28CB9;;
    color: #F28CB9;;
    font-size: 26px;
    font-weight: 500;
    height: auto;
    letter-spacing: 0.1px;
    margin-bottom: 6px;
    margin-top: 8px;
    padding-bottom: 0;
}
.page-node-179 #region-sidebar-second,
.page-node-181 #region-sidebar-second{
	display: none;
}

.translation-link{
    display: none !important;
}

#zone-content-wrapper{
    margin-bottom: 10px;
}

/*team*/
.page-about-us-team  #region-content .section-content .views-row,
.page-team  #region-content .section-content .views-row{
    min-height: 250px;
}
.view-id-team ul li{
    display: inline;
    float: left;
    margin: 0;
    width: 50%;
}
.page-about-us-team .section-content .views-field-field-vraboten-image,
.page-team .section-content .views-field-field-vraboten-image,
.page-about-us-team .section-content .views-field-title,
.page-team .section-content .views-field-title,
.page-about-us-team .section-content .views-field-body,
.page-team .section-content .views-field-body,
.page-about-us-team .section-content .views-field-field-position,
.page-team .section-content .views-field-field-position{
    text-align: center;
}
.page-about-us-team #block-system-main img,
.page-team #block-system-main img{
    border: 2px solid #eaeaea;
    margin: 5px 5px 5px 5px;
    height: 140px;
    width: auto;
}

.page-about-us-team .views-field-title,
.page-team .views-field-title{
    color: #5c5c5c;
    font-size: 17px;
    padding-top: 4px;
}
.page-about-us-team .views-view-grid,
.page-team .views-view-grid{
    border-width: 0px;
}
.page-about-us-team .views-view-grid td,
.page-team .views-view-grid td{
    width: 50%;
    vertical-align: text-top;
}
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active {
    background: none repeat scroll 0 0 white;
}


/*team end*/
/* team front page start */
#block-views-team-block-2 {
    background: #ecf1ef none repeat scroll 0 0;
}
#block-views-team-block-2 ul{
	border: 0px;
	text-align: center;
}

#block-views-team-block-2 ul li img{
	width: 130px;
	height: auto;
	border: 2px solid #eaeaea;
	border-radius: 100px;
}
/* team front page end */
/* google maps */ 
#block-block-17 iframe{
    width: 100% !important;
}
/* google maps end */

/* contact form */
#edit-submitted-email{
    border: 1px solid gray;
    height: 2.2em;
    outline: 0 none;
    padding: 4px 5px;
}


.marker, .form-required {
    color: #5c5c5c;
}
/* contact form end */
/* book a meeging start*/


#node-gallery-30 .form-type-item,
#node-gallery-12 .form-type-item,
#node-gallery-30 .node-links
{
    display: none;
}
.node-type-news #page-title,
.node-type-products #page-title,
.node-type-video #page-title,
.node-type-contact #page-title{
    display: block;
}
#zone-content-wrapper{
    min-height: 320px
}
#block-system-main{
    margin-bottom: 20px;
}
.region-menu-inner{
    padding-left: 0px !important;
}
.front .region-menu-inner{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.front .region-menu-inner .block-views-about-us-block{
    padding-right: 10px !important;
}
.responsive-menus.responsified {
    position: absolute !important;
    margin-top: 28px;
}

.not-front .zone-menu-wrapper{
    //margin-top: 20px;
}
.responsive-menus span.toggler {
    background-color: transparent !important;
    color: #383838 !important;
    border-bottom: 0px solid #bbb;
    border: 0;
    margin: 0 auto;
    width: 60px;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px #000 !important;
}


p{
    margin-bottom: 10px;
}
body.i18n-mk{
    font-size: 13px;
}
.more-link{
    float: left;
}
.more-link а:link{
    color: #5c5c5c;
    text-decoration: none;
    text-decoration: none;
}
.more-link а:hover{
    color: #5c5c5c;
}
a:link {
    color: #5c5c5c;
    text-decoration: none;
}
a,
a:link, 
a:hover, 
.front 
a:visited {
    color: #F28CB9 !important;
}
#block-menu-block-1 a:link,
#block-menu-block-1  a:visited{
    color: #5c5c5c;
}
#block-menu-block-1 a:hover,
#block-menu-block-1  a.active,
#block-system-main-menu a.active-trail{
    color: #5c5c5c;
}


.block-block-29 .contactContent{
    margin-bottom: 15px;
    margin-top: 5px;
}
.block-block-29 .content{
    margin: 8px 0px;

}
.block-block-29 .content p:first-child{
    margin-bottom: 25px;
}
.block-block-29 .contactButton{
    background: transparent none repeat scroll 0 0;
    border: 1px solid #099e9e;
    color: #099e9e;
    padding: 10px 50px;
    border-radius: 30px;
    margin-left: 75px;
}
.block-block-29 .contactButton:hover{
    background: #099e9e none repeat scroll 0 0;
    border: 1px solid #099e9e;
    color: white !important;
    padding: 10px 50px;
}
/* video page */
.block-views-video-block-1{
    display: none;
}
.context-video iframe{
    height: auto;
    width: 100%;
}
/* video page end */


/* fb lika and share */
#block-block-20{/*
margin-right: 200px;
    display: none;
    height: 0px;
    padding-top: 0;
    text-align: right;*/
}

#block-block-20 .content{     
    margin-top: 6px;
}

/* fb lika and share end*/

/* gallery */
.page-gallery .view-gallery .views-row,
.node-type-gallery .field-item{
    float: left;
    height: auto;
    margin-right: 16px;
    width: calc(50% - 12px);
    margin-bottom: 10px;
}

.page-gallery .view-gallery i12g,
.page-gallery .views-field-field-cover-photo img,
.node-type-gallery .field-name-field-gallery-images img{
    width: 220px;
    border: 1px solid #5c5c5c;
    padding: 2px;
}
.node-type-gallery .field-item:nth-child(2n+2){
    margin-right: 0px;
}

.page-gallery .view-gallery img,
.node-type-gallery .field-name-field-gallery-images img{
    width: 100%;
}
.page-gallery .view-gallery img:hover,
.node-type-gallery .field-name-field-gallery-images img:hover{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
    box-shadow: 0px 0px 4px 1px rgba(128,1,0,1);
}

.page-gallery .view-gallery .views-field{
    text-align: center;
}
.page-gallery .view-gallery .views-field-field-cover-photo{
    //height: 150px;
}
.node-type-gallery #page-title {
    display: block;
}

/*
.node-type-gallery #region-sidebar-first .content{
    //border-right: 1px dotted;
    color: #5c5c5c;
    font-size: 18px;
    height: 40px;
    margin-top: -16px;
}

.node-type-gallery #block-menu-block-1{
    margin-top: -10px;
}
#cboxTitle{
     margin-bottom: 16px !importannt;
}
/* gallery end*/


element.style {
    height: 22px !important;
}

input[type="text"]{
    border: 1px solid gray;
    height: 2.2em;
    outline: 0 none;
    padding: 4px 5px;
}
input:focus {
    background-color: rgba(128,1,0, 0.05);
} 
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
    box-shadow: 0 0 7px #5c5c5c;
    border: 1px solid #5c5c5c;
    z-index: 1;
}
textarea {
    border: 1px solid gray;
    outline: 0 none;
    padding: 4px 5px;
}

/* facebook page */
._2ph-,
._h7l > div{
    max-width: calc(100% - 16px) !importannt;
    width: calc(100% - 16px) !important;
    padding-left: 0px !importannt;
    padding-right: 0px !importannt;
}
#block-block-23,
#block-block-20{
    display: none;
}
#block-block-24{
    display: block;
}
.region-footer-second-inner>div{
    border-top: 1px solid white;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.region-footer-second-inner #block-block-1 .content{
    padding-top: 3px;
}
.region-footer-second-inner #block-social-media-links-social-media-links{
    margin-top: 0px;
    text-align: right;
}
.region-footer-second-inner #block-social-media-links-social-media-links img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.region-footer-second-inner #block-social-media-links-social-media-links img:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
/* facebook page end*/

/* jobs page */
.context-jobs #region-content #page-title{
    height: 30px !important;
    font-size: 20px !important;
}
.submitted{
    opacity: 0.5;
}
#webform-client-form-68 > div{

}
#webform-client-form-68 .webform-component--job-name,
#webform-client-form-68 .webform-component--job-lastname,
#webform-client-form-68 #edit-submitted-jobs-e-mail,
#webform-client-form-68 .webform-component--jobs-phone-number,
#webform-client-form-68  #edit-submitted-jobs-cv-ajax-wrapper{
    max-width: 500px;
}
#webform-client-form-68 > div > div{
    margin-bottom: 22px;
}
#webform-client-form-68 .form-type-checkbox .form-checkbox{
    width: 12px !important;
}

input#edit-submitted-jobs-cv-upload,
#edit-submitted-jobs-cv-upload,
#edit-submitted-job-cv-upload{
    width: 50% !important;
}

#edit-submitted-jobs-cv-upload-button,
input#edit-submitted-jobs-cv-remove-button{
    width: 80px !important;
}

#webform-client-form-68 img,
#edit-submitted-jobs-cv-upload .file-icon{
    width: 24px !important;
}
/* jobs page end*/
/* solutions start, same services start */

#block-views-solutions-block-4 .view-content{
    margin-top: 8px;
}
#block-views-solutions-block-4 .view-content .views-row{
    display: inline;
    float: left;
    margin: 3%;
    width: 14%;
}
#block-views-solutions-block-4 .view-content .views-row img{
    height: auto;
    width: 100% !important;
}
.node-type-solutions .field-name-field-solutions-image img{
    width: 100%;
}
.page-solutions  #section-content,
.page-services  #section-content{
    margin-top: 10px;
}
.page-solutions  #region-content .view-solutions .views-row ,
.page-services  #region-content .view-solutions .views-row {
    margin-bottom: 20px;
    min-height: 110px;
    padding-top: 10px;
}
.page-solutions .view-solutions .views-row .views-field-field-solutions-logo,
.page-services .views-field-field-solutions-logo{

}
.page-solutions .view-solutions .views-row .views-field-field-solutions-logo:hover,
.page-services .views-field-field-solutions-logo:hover{

}
.page-solutions .view-solutions .views-row .views-field-field-solutions-logo img,
.page-services .view-solutions .views-row .views-field-field-solutions-logo img{
    margin: 6px;
    width: 66%;
}
.page-solutions .view-solutions .views-row  .views-field-title,
.page-services .view-solutions .views-row .views-field-title{

}

.page-solutions .view-solutions .views-field-title a,
.page-services .view-solutions .views-field-title a{

    font-size: 20px;
    letter-spacing: 1px;
}
.page-solutions .view-solutions .views-field-body,
.page-services .view-solutions .views-field-body{
    min-height: 100px;
}
.node-type-solutions #block-views-solutions-block-5  .field-content{
    font-size: 0px;
}
.node-type-solutions #block-views-solutions-block-5 .node-title,
.node-type-solutions #block-views-solutions-block-5 .item-list,
.node-type-solutions #block-views-solutions-block-5 .more-link{
    display:none;
}
.node-type-solutions #block-views-solutions-block-5 article{
    display: inline;
    float: left;
    margin: 2%;
    width: 21%;
}
.node-type-solutions #block-views-solutions-block-5 article img{
    border-radius: 50px;
}
#block-nivo-slider-nivo-slider{
    display: none;
}
#block-nivo-slider-nivo-slider,
.front #section-content{
    padding-left: 10px;
    padding-right: 10px;
}

.front #section-content #zone-preface-wrapper #zone-preface{
    margin-top: 20px;
    margin-bottom: 20px;
}

.front.responsive-layout-mobile #section-content #zone-preface-wrapper #zone-preface .grid-4{
    width: 100%;
    margin: 0px;
}
.front #section-content #zone-preface-wrapper #zone-preface #region-preface-second.grid-4{
    margin: 0px 1.5%;
}

.front #section-content #zone-preface-wrapper #zone-preface #region-preface-third #block-views-solutions-block-1 .content{
    margin: 8px 0px;
}



.front .view-solutions .view-content .views-field-field-solutions-logo{
    width: 80px;
    display: inline;
    float: left;
}
.front .view-solutions .view-content .views-field-field-solutions-logo img{
    width: 82%;
    height: auto;
}
.front .view-solutions .view-content .views-field-title{
    width: 77%;
    display: inline;
    float: left;
    width: calc(100% - 82px);
}
.front .view-solutions .view-content .views-field-body{
    display: inline;
    float: left;
    margin-bottom: 2px;
    padding-right: 10px;
    width: calc(100% - 94px);
}
.front .view-solutions .views-row{
    margin-top: 12px;
    min-height: 108px;
    display: inline;
    float: left;
}
.page-solutions #region-content .view-solutions .view-content>div,
.page-services #region-content .view-solutions .view-content>div{
    background-color: #f4f4f4;
    background-image: linear-gradient(to top, #f0f0f0, #f9f9f9);
    //border-radius: 8px;
    box-shadow: 0 0 6px rgba(75, 75, 75, 0.45), 0 2px 2px #fff inset;
    display: inline;
    float: left;
    margin: 20px 10px;
    text-align: center;
    transition: all 0.2s ease-out 0s;
}
.page-solutions #region-content .view-solutions .view-content>div:hover,
.page-services #region-content .view-solutions .view-content>div:hover{
    //margin-top: 0px;
}


#block-block-28{
    margin-top: 14px;
}
#block-block-28 .block-title{
    margin-bottom: 6px;
}
#region-sidebar-second div section .block-title{
    border-bottom: 1px dotted #383838;
    color: #383838;
}
/* solutions end */
.flippy{
    width: 200px;
} 
.region-content ul.flippy {
    margin-top: 8px;
}
.region-content ul.flippy {
    margin-top: 8px;
}

.node-type-news .region-content ul.flippy {
    margin-top: 0px;
}
.flippy a:link,
.flippy a{
    color: #099E9E;
}

.block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li {
    display: inline-block;
    padding: 0;
    text-align: center;
}

.form-actions input{
    background: none repeat scroll 0 0 transparent;
    padding: 10px 20px;
    color: #099E9E;
    border: 1px solid #099E9E;
    text-shadow: 0px;
}
.form-actions input:hover{
    background: none repeat scroll 0 0 #099E9E;
    padding: 10px 20px;
    color: white;
    border: 1px solid #099E9E;text-shadow: 0px;
}
.node-type-blog .views-field-field-vraboten-image, .node-type-blog .views-field-field-author-image {
    float: left;
    margin-right: 6px;
    width: 140px;
}
/* blog*/
.view-display-id-block_2 .views-row{
    margin-top: 2px;

}
.view-display-id-block_2 a{
    font-size: 13px;
}
.i18n-en .view-display-id-block_2 a{
    font-size: 16px;
}

.node-type-blog .block-blog-block-1 .content{
    margin-top: 4px;
}

.vebkoContentImage{
    margin: 22px 0;
    text-align: center;
}
.vebkoContentImage img{
    padding: 2px;
}

.fb-comments,
.fb-comments span,
.fb-comments iframe{
    width: 100% !important;
}

/* services start */
#region-header-first{
    width: 100%;
    margin: 0px;    
}

.front #region-header-first .block-title,
.block-title{
    font-size: 18px;
	margin-bottom: 14px;
	text-align: center;
	border-bottom: 0px solid;
	color: #F28CB9;
	font-family: Lobster;
	letter-spacing: 3px;
}
#block-views-services-block .view-services {
	margin: 0px auto;
}
#block-views-services-block .view-services .views-row{
    position: relative;
    width: 98%;
    width: calc(100% - 32px);
    display: inline;
    float: left;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 0px;
    background-image: linear-gradient(to top, #f0f0f0, #f9f9f9);
    //box-shadow: 10px 10px 6px rgba(75, 75, 75, 0.5), 0 2px 2px #fff inset;
    margin: 10px 16px 50px;
    transition: all 0.2s ease-out 0s;
}

#block-views-services-block .view-services .views-row
{
    position:relative;
    -webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0) inset;
       -moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0) inset;
            box-shadow:0 1px 8px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0) inset;
}
.#block-views-services-block .view-services .views-row:before, #block-views-services-block .view-services .views-row:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#block-views-services-block .view-services .views-row:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}



#block-views-services-block .view-services .views-row:hover{
    margin-top: 0px;
}
#block-views-services-block .views-field-title{
    background: #ecf1ef none repeat scroll 0 0;
    color: #099e9e;
    font-size: 20px;
    height: 60px;
}
#block-views-services-block .views-field-title a{
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    height: 100%;
    left: 0;
    letter-spacing: 1px;
    width: 100%;
    padding-top: 10px;
    top: 0;
}

#block-views-services-block .views-field-field-service-price{
	background: #ecf1ef none repeat scroll 0 0;
    border-top: 1px solid #dbdbdb;
    color: #099e9e;
    font-size: 20px;
    height: 44px;
    padding-top: 12px;
}
#block-views-services-block .views-field-body{
    font-size: 16px;
    min-height: 230px;
}
#block-views-services-block .views-field-body p{
	border-bottom: 1px solid #dbdbdb;
    margin: 0;
    padding: 14px 0;
}
#block-views-services-block .views-field-field-services-logo img{
    margin-bottom: -42px;
    width: 84px;
    height: auto;
    box-shadow: 0 0 6px rgba(75, 75, 75, 0.45), 0 2px 2px #fff inset;

    border-radius: 50px;
}
#block-views-services-block .views-field-field-service-link{
	background: #ecf1ef none repeat scroll 0 0;
    padding: 15px 0 16px;
}
#block-views-services-block .views-field-field-service-link a{
	background-color: #099e9e;
    border: 1px solid #099e9e;
    color: white !important;
    letter-spacing: 1.2px;
    padding: 4px 22px 6px;
	
}
/* services end */

/* buttons - link start */

.block-views-button-links-block .block-inner,
#block-views-button-links-block .block-inner{
    padding: 0 !important;
    text-align: center;
}
.block-views-button-links-block .block-inner .views-row,
#block-views-button-links-block .block-inner .views-row{
    margin: -36px 20px 30px 20px;
}
.block-views-button-links-block .block-inner .field-content a,
#block-views-button-links-block .block-inner .field-content a{
    border: 2px solid #099e9e;
    border-radius: 50px;
    display: block;
    margin: 50px auto;
    padding: 6px 30px;
    width: 110px;
    font-weight: 500 !important;
}
#block-views-button-links-block .block-inner .field-content a:hover,
.block-views-button-links-block .block-inner .field-content a:hover{
    background: #099e9e !important;
    color: white !important;
}
/* buttons - link  end */
/* book a meeging start*/
.page-node-177 #section-content .region-inner > .block-system-main input#edit-submitted-name,
.page-node-177 #section-content .region-inner > .block-system-main input#edit-submitted-company,
.page-node-177 #section-content .region-inner > .block-system-main input#edit-submitted-email,
.page-node-177 #section-content .region-inner > .block-system-main input#edit-submitted-skype,
.page-node-177 #section-content .region-inner > .block-system-main input#edit-submitted-message2,
.page-contact #section-content .region-inner > .block-system-main input#edit-name,
.page-contact #section-content .region-inner > .block-system-main input#edit-mail,
.page-contact #section-content .region-inner > .block-system-main input#edit-subject,
.page-contact #section-content .region-inner > .block-system-main input#edit-message{
    width: 100%;
}
/* book a meeging end*/
#lhc_status_container{
    display: none;
}

#block-block-34{
	display: none;
}
#block-webform-client-block-180 input{
	max-width: 100%;
}
#block-views-video-block-1{
	display: none;
}

/* front page svadba*/
#block-views-front-media-block .views-field-field-banner img{
	width: 100%;
	height: auto;
}
#block-views-news-block .views-row,
.context-news .view-id-news ul li{
	display: block;
	min-height: 250px;
	border-bottom: 1px solid white;
}
#block-views-news-block img,
.context-news #region-content img{
	width: auto;
	height: auto;
	padding: 2px;
	border: 1px solid #F28CB9;
	max-height: 236px;
	max-width: calc(100% - 6px);
}

.context-news ul li{
	margin: 0px;
}
#block-views-front-media-block{
	text-align: center;
}
#block-views-front-media-block .views-field-field-media{
	max-width: 640px;
margin: auto;

}
.view-id-front_media .views-row{
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}
.view-id-front_media .views-row img{	
	width: 100%;
}
#block-views-front-media-block .more-link{
	text-align: center;
width: 100%;
font-size: 12px;
}

.front .region-header-first-inner section{
    padding: 24px 0px;
    border-top: 1px solid #f8c5dc;
}
.front .region-header-first-inner section:nth-child(2n){
	background: #fdf5f9 none repeat scroll 0 0;
}
#block-forum-new .block-configure{
	display: none;
}

.view-galleries .views-row{
	
	padding: 1px;
	display: inline;
	float: left;
	margin: 2px;
}
.view-galleries .views-field img{
	border: 1px solid #F28CB9;
	width: 100%;
	height: auto;
}

.field-name-field-media{
	max-width: 600px;
	margin: 10px auto;
}
.view-galleries .views-field-title{
	
	text-align: center;
}
ul#main-menu li{
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	text-align: center;
	width: 25%;
	margin: 0px;
}

.logo-img{
	display: none;
}
.site-name-slogan .site-slogan{
	color: white;
	text-align: center;
	width: 100%;
	margin: 8px 0px;
	font-size: 20px;
	letter-spacing: 4px;
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: Lobster !important;
}
.site-name-slogan{
	font-family: Lobster !important;
}
.front .view-id-news .views-field-title a{
	//font-family: Lobster !important;
	letter-spacing: 1px;
}

.view-sponzori{
	text-align: center;
}
.view-sponzori .views-row{
	display: inline;
	float: left;
	width: 100%;
}
.view-sponzori .views-row img{
	width: calc(100% - 16px );
	height: auto;
	margin: 8px;
}

#zone-footer-wrapper{
	width: 100% !important;
}
#region-footer-first{
	background: #fdf5f9 none repeat scroll 0 0;
	border-top: 1px solid #f8c5dc;
	padding-bottom: 14px;
}
.region-footer-first-inner{
	width: 100%;
	margin: 0px auto;
}
#region-footer-first a{
	color: #F28CB9 !important;
}
#region-footer-second{
	background: #F28CB9 none repeat scroll 0 0;
	width: 100% !important;
	margin: 0px !important;
}
#region-footer-second a{
	color: white !important;
}
.view-sponzori .views-row{
	width: 50%;
}