/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 #page{
    min-height:100%;
}

#region-content{
	width: 700px;
}
#region-sidebar-second {
    width: 240px !important;
	min-height: 600px;
	float: right;
}
.nivo-directionNav{
    display: block;
}
#zone-branding-wrapper{
    //background-image: -moz-linear-gradient(center top , #696969 0%, #3f3f3f 100%);
}
.not-front #zone-menu
{
    width: 960px;
}
#zone-menu{
	max-width: 960px;
}
#region-branding{
    height: 170px;
}
#region-branding,
#region-content{
    margin-left: 0;
    margin-right: 0;
}
.front #section-content #zone-preface-wrapper #zone-preface .grid-4{
    width: 32% !important;
    margin: 0px;
}
#slider{
    margin-bottom: 80px;
}

#block-nivo-slider-nivo-slider{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 0px;
}
/* video page */
.page-video .views-row{
    height: 200px;
    width: 253px;
}

/* video page end */
#block-system-main-menu li{
    width: auto;
}

/* facebook page */
#block-block-24,
#block-block-20{
   display: none;
}
#block-block-23{
   display: block;
}
/* facebook page end*/



#region-preface-third{
  margin-left: 0px;
  margin-right: 0;
}

/* gallery */
.page-gallery .view-gallery .views-row, 
.node-type-gallery .field-item,
.view-galleries .views-row{
    width: calc(25% - 14px);
}
.node-type-gallery .field-item:nth-child(2n+2){
    margin-right: 16px;
}
.node-type-gallery .field-item:nth-child(4n+4){
    margin-right: 0px;
}

.page-gallery .view-gallery img,
.node-type-gallery .field-name-field-gallery-images img{
    width: 100%;
}
/* gallery end */

/* solutions start */


.node-type-solutions .field-name-field-solutions-image img{
	width: 680px;
	margin-bottom: 10px;
	margin-left: 0px;
}
/*product */
.not-front .view-products .views-row{
width:	305px;
width: calc(33% - 12px);

}
.not-front .view-products .views-row:nth-child(2n+2){
    margin-right: 10px;
}

.not-front .view-products .views-row:nth-child(3n+3){
    margin-right: 0px;
}
.not-front .view-id-products .field-content a{
	
}
.field-name-field-p-product-cateogry,
.field-name-field-web-site-link{
	/*float: left;
	width: 66%;*/
}
.views-field-field-header-title .field-content, 
.views-field-field-header-subtitle .field-content, 
.views-field-field-header-android-link .field-content {
    margin: 0 auto;
    max-width: 940px;
}
.node-type-products .flippy{
   display: block;
}
/*product end*/
.page-products #region-content,
.node-type-news-no #region-content,
.page-news-no #region-content,
.page-gallery #region-content{
    width: 100% !important;
}
/* footer */
#section-footer #zone-footer-wrapper{
	width: 960px;
	margin: 0 auto;
}
/* footer end*/
.flippy{
    padding-right: 0 !important;
    position: absolute;
    right: 0;
    text-align: right !important;
    top: 14px;
}
.node-type-solutions .flippy{
    //left: 745px;
}
.node-type-blog .flippy,
.node-type-news .flippy,
.node-type-products .flippy
 {
    //left: 745px;
	margin-top: 0px !important;
}
#region-sidebar-second iframe{
    height: 150px;
    width: 257px;
}
/*blog*/
.node-type-blog .views-field-field-vraboten-image,
.node-type-blog .views-field-field-author-image{
	//margin: 0 auto 10px;
    //width: 260px;
}
.node-type-blog .views-field-title,
.node-type-blog .views-field-body{
	margin: 0 auto;
   // width: 260px;
}
/*team start*/
.node-type-vraboteni .field-name-field-position,
.node-type-vraboteni .field-name-body,
.node-type-vraboteni .field-name-field-linkedin,
.node-type-vraboteni .field-name-field-upload-document{
    width: 730px;
}
/*team end*/
/*language start*/
#block-locale-language li{
	margin-left: -10px;
    margin-top: 0;
    margin-left: 0px;
    margin-top: -3px;
    width: 30px;
}
.i18n-mk #block-locale-language li{
    margin-top: -14px;
}
#block-locale-language li a::before{
	background-size: 18px auto !important;
	
}

#region-content{
	width: 100%;
}

.logo-img{
	display: block;
}
.site-name-slogan{
	display: none;
}
ul#main-menu li{
	width: 100px;
}
.front #zone-header .block-inner{
    width: 960px;
    margin: 0 auto;
    margin-top: 0px;
    padding-top: 0;
}
.region-footer-first-inner{
	width: 960px;
}