/* This file will hold styles that are loaded using the same media query as the wide grid. 
#zone-branding{
max-width: 1000px;
}

#region-branding{
margin-left: 0;
    margin-right: 0;
    width: 1000px;
}

#zone-preface{
max-width: 1000px;
}

*/
#region-content{
	width: 100%;
}
#region-sidebar-second {
    width: 314px !important;
}

 #page{
    margin: 0 auto;
    margin-top: 0px;
 }
 .theme-default .nivoSlider {
    box-shadow: 0 0 0 0px black;
}
#zone-postscript-wrapper{
   border: 1px solid black;
}

.not-front #zone-menu
{
    width: 1200px;
}
#zone-menu{
	max-width: 1200px;
}
#region-content{
   margin-left: 0;
    margin-right: 0;
}

#region-sidebar-first{
    margin-left: 0;
}

/* video page */
.page-video .views-row{
   height: 186px;
   width: 237px;
   margin-right: 10px;
}
.page-video .views-row:nth-child(3n){
   margin-right: 10px;
}
.page-video .views-row:nth-child(4n){
   margin-right: 0px;
}
.context-video iframe{
     height: 550px;
    width: 980px;
}
/* video page end */

/* facebook page */
#block-block-24,
#block-block-23{
   display: none;
}
#block-block-20{
   display: block;
}
/* facebook page end*/

.container-12 .grid-10,
.container-12 .grid-10 .content{
    //width: 1200px;
}


#region-branding{
    width: 1200px !important;
    margin-left: 0;
    margin-right: 0;
}
.region-preface-third{
    width: 400px !important;
}
#section-footer #zone-footer-wrapper {
    width: 1200px;
}

#region-sidebar-second{
    margin-left: 6px;
    margin-right: 0;
    width: 314px;
}

.node-type-products .flippy,
.node-type-blog .flippy,
.node-type-news .flippy,
.node-type-solutions .flippy {
    //left: 985px;
}


.node-type-solutions .field-name-field-solutions-image img{
	width: 100%;
	margin-bottom: 10px;
	margin-left: 0px;
}
.page-solutions .view-solutions .view-content>div,
.page-services .view-solutions .view-content>div{
	
 }
.node-type-products #page-title,
 .node-type-solutions #page-title,
.node-type-blog #page-title,
.node-type-news #page-title,
.node-type-products #page-title{
	//width: 1200px;
}
 
.theme-default .nivo-controlNav a {
    background: rgba(0, 0, 0, 0) url("../images/bullets6.png") no-repeat scroll 0 0;
}
.theme-default .nivo-controlNav a.active {
    background-position: 0 -21px;
}

.views-field-field-header-title .field-content, 
.views-field-field-header-subtitle .field-content, 
.views-field-field-header-android-link .field-content {
    margin: 0 auto;
    max-width: 1200px;
}
/**producst*/


.field-type-video-embed-field  iframe {
border: 1px solid #099e9e;
    height: 222px !important;
    margin-left: -10px;
    padding: 2px;
    width: 396px !important;
}

.node-products .field-name-field-gallery .field-item{
	width: 188px;
}

.not-front .view-products .views-row .views-field-field-product-image{
	//width: 136px;
}
.page-products .views-field-field-product-image img {
    width: 150x;
}
#block-views-products-block{
    //width: 1200px;
}
/*team start*/
.node-type-vraboteni .field-name-field-position,
.node-type-vraboteni .field-name-body,
.node-type-vraboteni .field-name-field-linkedin,
.node-type-vraboteni .field-name-field-upload-document{
    width: 700px;
}
/*team end*/
/*
.node-type-products .views-field-field-header-title .field-content{
    margin-top: -380px;
}
.node-type-products .views-field-field-header-subtitle .field-content{
    margin-top: -286px;
}
.node-type-products .views-field-field-header-android-link{
     margin-top: -180px;
}
.node-type-products .views-field-field-header-android-link .field-content a{
      height: 100px;
     font-size: 24px;
     background-position: 0 44px;
}
.node-type-products .flippy{
    top: -400px;
}
.node-type-products ul.flippy li.prev {
    margin-left: 290px;
}
.node-type-products ul.flippy li.next {
    margin-right: -40px;
}
*/
.front.i18n-en #block-views-about-us-block{
}
.front.i18n-en  .views-field-field-about-us-image {
    //width: 50%;
}
.front #zone-header .block-inner{
    width: 1200px
}


#zone-header #block-block-34 .block-inner,
#zone-header #block-block-34 .block-inner iframe,
#zone-header #block-webform-client-block-180 .block-inner{
    width: 556px
}



/* news front star*/
.front .view-news .views-row {
    min-height: 148px;
}
.front .view-news .views-row {
    //width: 29%;
}
/* news front end*/
/* solutions start */
.page-solutions .view-solutions .view-content>div,
.page-services .view-solutions .view-content>div{
    width: calc(25% - 22px);
}
/*get in touch */

/*get in touch end*/
.region-footer-first-inner{
	width: 1200px;
}