/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

#zone-branding-wrapper{
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    z-index: 1000;
}
.branding-data{
    padding-left: 0px;
}
#block-system-main-menu{
    border-bottom: 0px solid #2A6942;
    border-top: 0px solid #2A6942;
}
#block-system-main-menu .menu li a.active-trail{
    border-bottom: 0px solid;
}
.container-12 .grid-4 {
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}
#region-branding,
.front #zone-header .block-inner{
    //width: 960px;
}
#zone-header #block-block-34 .block-inner,
#zone-header #block-block-34 .block-inner iframe,
#zone-header #block-webform-client-block-180 .block-inner{
    width: 440px;
}
#zone-header #block-block-34 .block-inner iframe{
    pointer-events: none;
}
#block-webform-client-block-180 .messages.error{
    display: none;
}
.theme-default .nivo-controlNav {
    margin-top: -10px;

}
.front #region-header-first section{
    padding: 24px 0px;    
}
#region-menu {
    margin: 16px -6px;
}
.front #zone-header-wrapper{
   margin: 0px;
}
#block-system-main-menu {
    padding: 0px;
}
#zone-menu-wrapper{
    //background-image: url("http://p1.pichost.me/i/74/1988775.jpg");
    background: #fdf5f9;

    
}
#block-nivo-slider-nivo-slider{
    display: block;
}
#slider{
    background: transparent;
    margin-right: 18px;
    margin-left: 18px;
}
#block-system-main-menu li a.active,
#block-system-main-menu li a:hover,
#block-system-main-menu a.active-trail{
    color: #099E9E  !important;
    background-color: rgba(255, 255, 255, 0.14) !important;
}
.menu-block-wrapper .menu li{
    padding-top: 0px;
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    float: none;
}
#region-menu .navigation{
	padding: 0px;
}
.logo-img{
    height: 70px;
}
.logo-img img{
    width: 220px;
    padding-top: 14px;
}
#logo{
    margin-left: 0px;
    margin-top: 0px;
}
/* main manu end*/

/* sub manu */
#block-menu-block-1{
    border-right: 1px dotted #c75e00;
    margin-top: 0px;
    min-height: 400px;
}
#block-menu-block-1 li a{
    display: block;
}
/*
#block-menu-block-1 li:after{
content: ">";
width: 6px;
height: 6px;
}
*/
/* sub manu end*/
/**/
#block-menu-block-1{
    padding-top: 10px;
}

#region-postscript-second,
#region-postscript-third{
    margin-top: 0px;
}
/* */

/* footer menu */
#block-menu-menu-footer-menu li,
#block-menu-menu-partners li{
    text-align: left !important;
}
/* footer menu end*/
/* footer */
#zone-postscript-wrapper,
#zone-postscript-wrapper .menu li{
    text-align: left;
}
/* footer end */

.not-front #zone-menu
{
    width: 700px;
}
.zone-menu-wrapper{
    margin-top: 0px;
}
.not-front .zone-menu-wrapper{
    margin-top: 0px;
}
/*product*/
#region-sidebar-first{
    margin-top: 0px;
}
.node-products .field-name-field-product-image{
    /*display: inline-block;
        height: auto;
        width: 32%;
        float: right;
        border: 1px solid #5c5c5c;
        margin-bottom: 10px;
        margin-top: 10px;*/
}
.node-products .field-name-body {
    /* display: inline-block;
         min-height: 264px;
     float: left;
     width: 66%;
     margin-bottom: 10px;
     margin-top: 10px;*/
}
.field-name-field-p-product-cateogry,
.field-name-field-web-site-link{
    /*float: left;
            width: 66%;*/
}
.field-type-video-embed-field {
    /*display: inline-block;
    float: right;
    width: 33%;
    margin-bottom: 10px;
    margin-top: 10px;*/
}

.field-type-video-embed-field  iframe {
    border: 1px solid #099e9e;
    height: 222px !important;
    margin-left: -10px;
    padding: 2px;
    width: 396px !important;
}

.field-name-field-blog-gallery{
    min-height: 200px;
}
.node-type-blog .field-name-field-blog-gallery .field-item,
.node-products .field-name-field-gallery .field-item{
    border: 1px solid;
    display: inline-block;
    float: left;
    margin: 2px;
    padding: 2px;
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    width: 135px;
}
.node-type-blog .field-name-field-blog-gallery img,
.node-products .field-name-field-gallery img{
    width: 100%;
}
.not-front .view-products .views-row{
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
    width: 336px;
}
.not-front .view-products .views-row:nth-child(2n+2){
    margin-right: 0px;
}
.not-front .view-products .views-row .views-field-field-product-image {
    width: 25%;
    min-height: 120px;
}
#region-footer-first section{
    color: white;
    display: inline;
    float: left;
    min-height: 92px;
    padding-top: 9px;
    min-width: 100%;
    text-align: center;
}
#block-social-media-links-social-media-links{
    color: white;
    display: inline;
    float: left;
    min-height: 92px;
    padding-top: 9px;
    width: 19.8%;
    text-align: left;;
}
#block-menu-menu-footer-menu .block-title{
    margin-left: 7px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
}
#region-footer-first section a{
    color: gray !important;
}
#region-footer-first p {
    color: gray;
}
.front #zone-header{
    width: 100%;
}

#block-views-solutions-block-1{
    background-color: #ECF1EF;
}
#block-views-products-block{
     
}
#block-views-about-us-block{
}
.front .views-field-field-about-us-image {
    display: inline;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 8px;
    width: 40%;
}
.front .view-products .view-content .views-row .views-field-field-product-logo{
    display: inline-block;
    float: left;
    max-width: 40%;
}
.front .view-products .view-content .views-row .views-field-title,
.front .view-products .view-content .views-row .views-field-body{
    display: inline-block;
    float: left;
    max-width: 60%;
    width: 58%;
}
.front .view-products .view-content .views-row .views-field-body{
    min-height: 25px;
}
#block-views-products-block .block-title{
    text-align: left;
    border-bottom: 1px dotted #099e9e;
}
.page-products .view-products img {
    width: 100%;
}
#section-content{
    padding-bottom:94px !important;
}

footer section .block-title{
    
}
/*product end*/
#section-content{

}
/*team*/
.node-type-vraboteni #section-content {
    margin-top: -6px;
}

.view-id-team ul li{
    width: 25%;
}
.page-about-us-team  #block-system-main img,
.page-team  #block-system-main img{
    height: 142px;
    width: auto;
    margin: 5px 8px 5px 0px;
}
.page-about-us-team .views-field-field-vraboten-image,
.page-team .views-field-field-vraboten-image{
    text-align: center;
}
.node-type-vraboteni .field-name-field-vraboten-image{
    display: inline;
    float: left;
    width: 170px;
}
.node-type-vraboteni .field-name-field-position,
.node-type-vraboteni .field-name-body,
.node-type-vraboteni .field-name-field-linkedin,
.node-type-vraboteni .field-name-field-upload-document{
    float: left;
    width: 490px;
}
.field-name-field-linkedin .field-item{
	margin: 0px 4px;
}
/* team end*/
/* news start */
.node-type-news #section-content{
    //margin-top: 8px;
}
.node-type-news #region-content #page-title {

}
.front #block-views-news-block .more-link{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    display: none;
}
/* news end */
/* google maps */
#block-block-17{
    float: right;
    text-align: right;
    width: 40%;
}

.page-contact .block-system-main{
    width: 57%;
}


/* google maps end*/

.region-menu-inner{
    padding-left: 0px !important;
}

/* page-video */
.page-video .views-row{
    float: left;
    height: 154px;
    margin-right: 10px;
    width: 186px;
}
.page-video .views-row:nth-child(3n){
    margin-right: 0px;
}
.page-video img{
    width: 100%;
}



/*fixed footer */
html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#page{
    min-height:100%;
    position:relative;
}

#section-content{
    padding:0px;
    padding-bottom:0px; /* Height of the footer element */
}

#zone-preface-wrapper,
#zone-content-wrapper{

}

#zone-postscript-wrapper{
    margin-top:20px;
    width:100%;
    height:100px;
    position:absolute;
    bottom:20px;
    left:0;
}

footer{
    width:100%;
    height:20px;
    //position:absolute;
    bottom:0;
    left:0;
}
#section-footer{
    //background: #F28CB9 none repeat scroll 0 0;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    padding: 12px 0;
    height: 80px;
    padding-bottom: 2px;
}

/*fixed footer end */
/* inside page start */

/* inside page end*/
/* solutions start */
.page-solutions .view-solutions .view-content>div,
.page-services .view-solutions .view-content>div{
    width: calc(25% - 22px);
}

.page-solutions .view-solutions .view-content > div:nth-child(3n+1),
.page-services .view-solutions .view-content > div:nth-child(3n+1){
   
}
.page-solutions .view-solutions .view-content > div:nth-child(3n+3),
.page-services .view-solutions .view-content > div:nth-child(3n+3){
    
}

.node-type-vraboteni #region-content,
.node-type-solutions #region-content,
.node-type-products #region-content,
.node-type-news #region-content,
.node-type-vraboteni #region-content{
    margin-top: 0px;
}
.node-type-products #region-sidebar-second,
.node-type-solutions #region-sidebar-second{
    margin-top: 7px;
}
.node-type-blog #region-sidebar-second,
.node-type-news #region-sidebar-second{
    //margin-top: 44px;
}
.node-type-blog #region-sidebar-second{
    width: 260px;

    //background: #ECF1EF;
}

.node-type-solutions #page-title,
.node-type-blog #page-title,
.node-type-products #page-title{
    //width: 960px;
}
.node-type-blog #page-title{
    margin-top: 0px !important;
}

#block-block-29,
.node-type-solutions #region-sidebar-second .view-solutions{
    //margin-top: 8px;
}

.node-type-solutions #region-sidebar-second #block-views-solutions-block-2 .view-solutions .views-row {
    display: inline;
    float: left;
    width: 32%;
    margin: 12px 0px;
}
.node-type-solutions #region-sidebar-second .view-solutions .views-row:nth-child(3n+2){
    margin: 12px 2%;
}
.node-type-solutions #region-sidebar-second .view-solutions .views-row img{
    width: 100%;
    height: auto;
}
#region-sidebar-second div section{
    background: #ecf1ef none repeat scroll 0 0;
    padding: 6px;
    margin-bottom: 2px;
}
.front .view-solutions .views-row{
    width: 33%;
}
/* solsution end */
/* facebook page */
#block-block-23,
#block-block-20{
    display: none;
}
#block-block-24{
    display: block;
}

/* facebook page end*/

.theme-default .nivoSlider {
    box-shadow: 0 0 0 0px black;
}
.block-system-main-menu{
    max-width: 760px;
}
.menu .expanded ul{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 0;
    margin-top: 7px;

}
/* main manu */
#block-locale-language{
    margin-top: 21px;
}
.i18n-mk #block-locale-language{
    margin-top: 34px;
}
#block-system-main-menu{
    position: relative;
    background: transparent none repeat scroll 0 0;
    display: inline-block;
    float: right;
    margin-bottom: 0;
    margin-top: 0px;
    width: auto;
    height: 30px;
    margin-right: 54px;
}
#block-system-main-menu li{
    padding-top: 0px;
    margin-left: 0;
    padding-right: 0;
    margin-right: 60px;
}

#block-system-main-menu li a{
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.85) !important;
    display: block;
    float: left;
    height: 17px;
    margin: 20px 1px 0;
    padding: 4px 18px 10px;
}
#block-system-main-menu .expanded ul{
    display: none;
    margin-top: 70px;
    padding-bottom: 3px;
    position: absolute;
    z-index: 99999999999999;
    text-align: left;
    width: 220px;
    border-bottom: 2px solid #099E9E;
}
#block-system-main-menu .menu li.last a{

}
#block-system-main-menu li ul li{
    height: 38px;
}
#block-system-main-menu li ul li a{
    padding-top: 12px;
    padding-bottom: 4px;
    padding-left: 12px !important;
    width: 198px !important;
    height: 30px;
}
.menu .expanded ul li{
    display: inline-block;    
}
.menu .expanded ul li a{
    padding-left: 0px !important;
    width: 112px !important;
    padding-left: 8px !important;
}
.menu .expanded ul li a:hover{
    background-color: rgba(0, 0, 0, 1);
}
#block-system-main-menu .content ul li:nth-child(2) ul{
    margin-left: 71px;
}
.i18n-mk #block-system-main-menu .content ul li:nth-child(2) ul{
    margin-left: 80px;
}
#block-system-main-menu .content ul li:nth-child(3) ul{
    margin-left: 229px;
}
.i18n-mk #block-system-main-menu .content ul li:nth-child(3) ul{
    margin-left: 226px;
}
#block-system-main-menu .expanded a:hover + ul,
#block-system-main-menu .expanded ul:hover{
    display: block;
}
#block-system-main-menu .expanded > a:hover,
.expanded:hover,
#block-system-main-menu .expanded ul:hover + a{
    background-color: rgba(255, 255, 255, 0.14) !important;
}

#block-system-main-menu li ul li a{
    background-position: 6px center;
    background-repeat: no-repeat;
    background-size: 26px auto;
}
#block-system-main-menu li:nth-child(2) ul li a{
    width: 162px !important;
    padding-left: 40px !important;
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(4) a,
#block-system-main-menu li:nth-child(2) ul li:nth-child(5) a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.85);
}

#block-system-main-menu li:nth-child(2) ul li:nth-child(1) a{
    background-image: url("../images/menuservicesdrupal.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(2) a{
    background-image: url("../images/menuserviceswordpress.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(3) a{
    background-image: url("../images/menuservicesmagento.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(4) a{
    background-image: url("../images/menuservicesmoodle.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(5) a{
    background-image: url("../images/menuservicesandroid.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(6) a{
    background-image: url("../images/menuserviceshtml.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(7) a{
    background-image: url("../images/menuservicescss3.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(8) a{
    background-image: url("../images/menuservicesjs.png");
}
#block-system-main-menu li:nth-child(2) ul li:nth-child(9) a{
    background-image: url("../images/menuservicesphp.png");
}
.node-type-products .views-field-field-header-title{    
    font-size: 36px;
    font-weight: bold;  
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.node-type-products .views-field-field-header-title .field-content{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 34px 20px 6px 20px;
    width: 100%; 
    max-width: 600px;
    margin-top: -350px;
}
.node-type-products .views-field-field-header-subtitle{
    font-size: 30px;
    font-weight: 300;   
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.node-type-products .views-field-field-header-subtitle .field-content{
   background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 6px 20px 34px 20px;
    width: 100%; 
    max-width: 600px;
    margin-top: -256px;
}
.node-type-products .views-field-field-header-android-link{
    font-size: 30px;
    font-weight: 300;
    margin-top: -150px;    
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.node-type-products .field-name-field-header-android-link a{
    background-image: url("../images/aaa.png");
    background-position: 0 28px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    float: none;
    font-size: 18px;
    font-weight: 500;
    height: 94px;
    margin: 0 auto;
    text-align: center;
    width: 162px;
}
.node-type-products .views-field-field-header-title .field-content{
    margin-top: -256px;
}
.node-type-products .views-field-field-header-subtitle .field-content{
    margin-top: -162px;
}
.node-type-products .views-field-field-header-android-link{
     margin-top: -70px;
}
/*
.node-type-products .flippy{
    top: -274px;
}
.node-type-products ul.flippy li.prev {
    margin-left: 170px;
}
.node-type-products ul.flippy li.next {
    margin-right: -162px;
}
*/
#region-preface-third{
    margin-left: 35% !important;
}


/* services start */


#block-views-services-block .view-services {
	width: 98%;
    width: calc(100% - 32px);
	
}
#block-views-services-block .view-services .views-row{
  width: 33%;
  width: calc(33% - 24px);
  min-height: 320px; 
margin: 10px 20px 50px;  
}
#block-views-services-block .view-services .views-row.views-row-1{
	margin-left: 0px;
}
#block-views-services-block .view-services .views-row.views-row-3{
	margin-right: 0px;
}
/* services end */
.front .view-products .views-row{
    width: 33%;
}


/* news front star*/
.front .view-news .views-row {
    display: inline;
    margin-bottom: 10px;
    margin-top: 6px;
    min-height: 180px;
}
.front .view-news .views-row-odd{
    padding-right: 1%;
}
.front .view-news .views-row-even{
    //padding-left: 1%;
}
.front .view-id-news .views-field-title a{
font-size: 20px;
font-weight: 500;
}


/* news front end*/

/* buttons - link start */
#block-views-button-links-block,
.block-views-button-links-block{
    margin-bottom: 60px;
    margin-top: -60px;
}
#block-views-button-links-block .views-row,
.block-views-button-links-block .views-row{
    display: inline;
    widht: 50%;
    float: left;
    margin: 0px 20px -24px !important;
}
#block-views-button-links-block .content,
.block-views-button-links-block .content{
    margin: 0 auto;
    width: 430px;
}

/* buttons - link  end */
.page-node-177 #section-content .region-inner > div,
.page-contact #section-content .region-inner > div{
    display: inline;
    float: left;
    width: 36%;
}
.page-node-177 #section-content .region-inner > #block-block-32,
.page-contact #section-content .region-inner > #block-block-17{
    width: 61%;
    float: right;
}
.page-node-177 #section-content .region-inner > .block-system-main,
.page-contact #section-content .region-inner > .block-system-main{
    background: #ecf1ef none repeat scroll 0 0;
    padding: 10px;
}

#lhc_status_container{
    display: block;
}

#block-system-main-menu .content > ul.menu > li{
    padding: 0px;
    width: auto;
}

/*get in touch*/

#block-block-34,
#block-webform-client-block-180{
    //background: #ecf1ef none repeat scroll 0 0;
    width: 50%;
    float: left;
    display: inline-block;
    min-height: 500px;
}

#block-webform-client-block-180 .block-inner{
    margin: 0px 10px;
}
.form-textarea-wrapper textarea {;
   resize: none;
    height: 104px;
}
.form-textarea-wrapper .grippie{
    display: none;
}
#zone-header #block-webform-client-block-180 .block-inner,
#zone-header #block-block-34 .block-inner{
    //border-radius: 30px;
    box-shadow: 0 0 6px #888888;
    height: 461px;
    padding: 20px;
    background-color: #f4f4f4;
    background-image: linear-gradient(to top, #f0f0f0, #f9f9f9);
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(75, 75, 75, 0.45), 0 2px 2px #fff inset;
    display: inline;
    float: left;
    margin: 10px 16px 50px;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-out 0s;
}
#zone-header #block-webform-client-block-180 .block-inner{
    margin: 0px auto 0px 30px;
}
#zone-header #block-block-34 .block-inner{
    margin: 0px 0px 0px auto;
    float: right;
}
#zone-header #block-webform-client-block-180 input,
#zone-header #block-webform-client-block-180 webform-component--message{
    width: 100%;
}
#zone-header #block-webform-client-block-180 .form-actions{
    margin: 0 0 0 auto;
    width: 100px;
	margin-top: 78px;
}

#zone-header #block-webform-client-block-180 .webform-component--name,
#zone-header #block-webform-client-block-180 .webform-component--email{
    display: inline-block;
    float: left;
    width: 50%;
}
#zone-header #block-webform-client-block-180 .webform-component--name input,
#zone-header #block-webform-client-block-180 .webform-component--email input,
#zone-header #block-webform-client-block-180 .webform-component--name label,
#zone-header #block-webform-client-block-180 .webform-component--email label{
    width: 95%;
	float: left;
}
#zone-header #block-webform-client-block-180 .webform-component--email label,
#zone-header #block-webform-client-block-180 .webform-component--email input{
    margin-left: 5%;
}

#block-webform-client-block-180 .block-title{
    //display: none;
}

.page-node-181 .region-content-inner{
    margin-top: -634px;
}

.page-node-181 #zone-header-wrapper{
    margin-top: 130px;
}
/*get in touch end*/
#block-block-34{
	display; block;
}
/*capcha start*/
.captcha .fieldset-description,
.captcha  legend,
.captcha .description{
	display: none;
}
.captcha img,
.captcha .form-type-textfield{
	width: 42%;
	position: absolute;
	float: left;
	margin: 0px;
	max-height: 54px;
}
/*capcha end*/

/* front page svadba*/

#region-menu .navigation a {
    font-size: 16px;
}


#block-views-front-media-block .views-field-field-banner{
	display: inline;
	float: left;
	width: 40%;
}

#block-views-front-media-block .views-field-field-title,
#block-views-front-media-block .views-field-field-body{
	margin-left: 20px;
	width: 40%;
	display: inline;
	float: left;
}

#block-views-news-block .views-field-field-images,
.view-id-news .views-field-field-images{
	width: 30%;
	margin-right: 2%;
	display: inline;
	float: left;
}
#block-views-news-block .views-field-title{
	width: 66%;
	display: inline;
	float: left;
}
#block-views-news-block .views-field-body{
	width: 66%;
	display: inline;
	float: left;
}

.not-front .view-id-front_media .views-row{
	display: inline;
	float: left;
	width: 32%;
	margin-top: 8px;
	margin-bottom: 8px;
}
.view-id-front_media .views-row:nth-child(3n){
	margin-left: 1%;
}
.view-id-front_media .views-row:nth-child(3n+1){
	margin-right: 1%;
}
.view-id-front_media .views-row:nth-child(3n+2){
	margin-left: 1%;
	margin-right: 1%;
}
.view-sponzori .views-row{
	width: 200px;
	padding: 0px 10px;
}
.view-sponzori .views-row img{
	width: 100%;
	height: 100%;
	max-height: 80px;
	max-width: 100%;
}
.region-footer-first-inner{
	
}